vendor
node_modules
bower_components
public/storage/*
public/build/* 
public/css
public/upload/*
public/images/*
public/videos/*
Homestead.yaml
Homestead.json
*.env
composer.lock
public/css/*
package-lock.json
config/config.json
seeds/sequelizeData.json
migrations/sequelizeMeta.json
*.log
backup/*
public/files/*
*package-lock.json
*.npm
*.config
*.node-gyp
certificates/*
cert/*
.vscode